html {
  box-sizing: border-box;
  font-size: 10px;
  background: #AFECDE;
}

body {
  background-image: url("../img/background-pattern.svg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 0;
}

body * {
  position: absolute;
  display: inline-block;
  font-family: 'Bahiana', cursive;
}

h1 {
  position: fixed;
  font-size: 10em;
  bottom: 1em;
  top: 1em;
}

.start_screen, .win_screen, .lose_screen {
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: #13A0DC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.win_screen {
  background: linear-gradient(
    rgba(73, 210, 146, .6),
    rgba(73, 210, 146, .6)
  ), url('../img/background_pattern.png');
}

.lose_screen {
  background: linear-gradient(
    rgba(231, 0, 0, .8),
    rgba(231, 0, 0, .8)
  ), url('../img/background_pattern.png');
}

.btn {
  border: 2px solid white;
  background-color: #13A0DC;
  border-radius: .3em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: .1em .5em;
  font-size: 4em;
}

.btn:hover {
  cursor: pointer;
  background-color: #73CCF2;
}

.btn-green {
  background-color: #49D292;
}

.btn-green:hover {
  background-color: #4DE19C;
}

.btn-red {
  background-color: #E70000;
}

.btn-red:hover {
  background-color: #F81919;
}



paddle {
  width: 159px;
  height: 36px;
  background-image: url("../img/paddle.png");
}

brick {
  width: 151px;
  height: 72px;
  background-image: url("../img/brick.png");
}

ball {
  width: 30px;
  height: 30px;
  background-image: url("../img/ball.png");
}

heart {
  width: 44px;
  height: 40px;
  background-image: url("../img/heart.png");
  background-size: cover;
}